

 <table class="table" >
  <thead class="thead-dark">
     <tr>
    <th>Device Name</th>
    <th>Signal</th>
    <th>State</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let item of post">
    <td>{{item.device}}</td>
    <td>{{item.signal}}</td>
    <td>{{item.state}}</td>
    <td>
      <button type="button" class="btn btn-info btn-sm" (click)="open(content1)"><svg  width="16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-edit fa-w-18 fa-3x"><path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" class=""></path></svg>

        <ng-template #content1 let-modal >

          <div class="modal-header" >
            <h3>Any changes would you like to make?</h3>
          </div>
          <div class="modal-body">
            <form  #postForm="ngForm" style="margin-top:3px">
              <input class="form-control form-control-sm" type="text" placeholder="Device Name:" name="device" [ngModel]="item.device" required
              minlength="3"
              #device="ngModel"
              placeholder="Device Name" >
                <input class="form-control form-control-sm" type="text" name="signal" [ngModel]="item.signal" required
                minlength="2"
                #signal="ngModel"
                placeholder="Signal-range">


               <input class="form-control form-control-sm" rows="1" name="state" [ngModel]="item.state" required
               minlength="2"
               #state="ngModel"
               placeholder="State-On/Off">
            </form>
          </div>
          <div class="modal-footer">


              <hr>
              <button type="button" class="btn btn-info"  (click)="modal.close(content1)">Close</button>

              <button class="btn btn-warning" (click)="onupdate(item.id,postForm);modal.close(content1)">Save Changes</button>
          </div>
        </ng-template>
</button>



      <button type="button" class="btn btn-danger btn-sm" (click)="open(content)">
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" style=" font-family: Times New Roman; font-size: medium;">Are you sure you want to delete?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info"  (click)="modal.dismiss('Cross click')">No</button>
            <button type="button" class="btn btn-danger" (click)="modal.close(ondelete(item.id))">Yes</button>
          </div>
        </ng-template>

        <svg width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
        </button>
      <!-- <button type="button" class="btn btn-primary btn-sm">Edit</button> -->
    </td>


  </tr>
</thead>
</table>

<hr>


<ngb-pagination class="d-flex justify-content-center" aria-label="Default pagination"
[(page)]="page"
[pageSize]="pageSize"
[collectionSize]="postcounts"  (pageChange)="onpagechange()"></ngb-pagination>

<hr>

<pre>Current page: {{page}}</pre>

